%title
  JustCrm

= stylesheet_link_tag    'application', 'main', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'look_up_view', 'semaphore', 'data-turbolinks-track' => true
= csrf_meta_tags

%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
