  <title>JustCrm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'look_up_view', 'semaphore', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
