@import "bootstrap-sprockets"
@import "bootstrap"

#main
 margin-top: 60px

.hiden_elem
 display: none

.hiden_form_page
 @extend .hiden_elem

.list_content
 background-color: #f5f5f5

.new_edit_entry
 color: green

.deleted_edit_entry
 color: red

.base_entry
 clear: left
 img.ava_pic, div.ava_pic
  float: left
  vertical-align: top

.entry
 @extend .base_entry
 padding: 10px  
 min-height: 165px
 overflow-x: hidden 
 -o-text-overflow: ellipsis
 text-overflow: ellipsis 
 p.about_text
  line-height: 1.25em
  margin: 0 0 0 110px
 h2
  margin-top: 0
  line-height: 1

.short_text
 position: relative
 height: 7.4em
 overflow: hidden 
 -o-text-overflow: ellipsis
 text-overflow: ellipsis

.short_text:after
 content: ""
 text-align: right
 position: absolute
 bottom: 0
 right: 0
 width: 50%
 height: 1.25em
 background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%)

.stoped_caption
 color: #cccccc
 
.removed_caption
 text-decoration: line-through

.dropdown_div
 position: fixed
 background-color: white
 top: 0
 left: 0
 bottom: 0
 right: 0
 z-index: 2
 display: none
 padding: 60px 10px 0 10px

.to_right
 float: right
 
.person_company_entry
 float: left
 text-align: center
 max-width: 110px 
 min-width: 100px 
 margin: 5px
 a.thumb_ava
  display: block
  height: 100px
 h3
  margin-top: 3px
  margin-bottom: 1px
  text-align: center
  word-wrap: break-word

.float_pic
 float: left
 font-size: 1.8em
 margin-right: 5px
 color: #999999
