<div id="look-up-view">
  <input type="text" class="look-up-search-text" autocomplete="off" disabled="disabled">
  <button class="look-up-button" type="button"></button>
  <div class="look-up-result"></div>
  <input type="text" class="look-up-result-id">
</div>

<input id="parent_id" type="text">

<div id="look-up-view-2">
  <input type="text" class="look-up-search-text" autocomplete="off" disabled="disabled">
  <button class="look-up-button" type="button"></button>
  <div class="look-up-result"></div>
  <input type="text" class="look-up-result-id">
</div>
